<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
</head>
<body>
    <canvas id="game" width="200px" height="320px"></canvas>
    <div class="test"></div>
    <script type="module" src="/js/main.js"></script>
</body>
</html>